{% extends "master_template.html" %}
    {%block title%}
    This is the Insert Page
    {%endblock%}
{%block body%}

<hr>
<hr>
  
  <form class="form-horizontal" action="/student" method="post" >
    
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Roll:</label>
        <div class="col-sm-5">
          <input class="form-control" id="name" type="number" placeholder="Enter roll #" name="RN" required>
  
        </div>
      </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Total Fee:</label>
      <div class="col-sm-5"> 
        
        <select class="form-control" id="name"  name="TF" required>
          <option value="145000"> 145000 <a> For MCS </a> </option>
          <option value="110950"> 110950  <a>For CS and IT</option>

        </select>

      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="fname">Submitted Fee:</label>
      <div class="col-sm-5"> 
        <input class="form-control" id="fname" type="number" placeholder="Enter Submitted Fee" name="SF" required>

      </div>
    </div>
    
    <div class="form-group">    
        <label class="control-label col-sm-2" for="fname">Clear Till:</label>
        <div class="col-sm-5">
            <select class="form-control" id="batch" name="CT">
                <option value="1st Semester"> 1st Semester </option>
                <option value="2nd Semester"> 2nd Semester </option>
                <option value="3rd Semester"> 3rd Semester </option>
                <option value="4th Semester"> 4th Semester </option>
                <option value="5th Semester"> 5th Semester </option>
                <option value="6th Semester"> 6th Semester </option>
                <option value="7th Semester"> 7th Semester </option>
                <option value="8th Semester"> 8th Semester </option>
                
              </select>
            </div>
          </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" href="">Submit</button>
      </div>
    </div>
  </form>

{%endblock%}